<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294543918032-oljer5medbughcn7mrvaql1qglve6o9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294543918032-oljer5medbughcn7mrvaql1qglve6o9u</string>
	<key>API_KEY</key>
	<string>AIzaSyAyAOIVMe791iN0rTmlawOdFI2tlj2j0g8</string>
	<key>GCM_SENDER_ID</key>
	<string>294543918032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noorsoreti.SkinSeoul</string>
	<key>PROJECT_ID</key>
	<string>skinseoulai</string>
	<key>STORAGE_BUCKET</key>
	<string>skinseoulai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294543918032:ios:2d7c44fb3d7c9e5b62efd5</string>
</dict>
</plist>